@import 'src/scss/global.scss';

.Login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 20vw;

    h3 {
    font-size: 20pt;
    margin-bottom: 20px;
    }

    & > div {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 15px 0;

        label {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        input {
            width: 100%;
            font-size: 14pt;

            box-sizing: border-box;
            padding: 5px 10px;
            border: 2px solid $theme-light;
        }

    }


    button {
        margin-top: 20px;
    }
    button.Error {
        background: $error;
    }


}